<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#create-page">
          Create Web Page
        </button>
<!-- Modal -->
<div class="modal" id="create-page" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Webpage</h4>
      </div>
      <div class="modal-body">
        <form class='create-page'>
          <input type="text" name="page[header]" placeholder="Enter Title">
          <input type="text" name="page[body]" placeholder="Enter Content for Body">
          <button type="submit" class="btn btn-default">Create Webpage</button>
        </form>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-default" id="page-index">Index of Page</button>
