// basic colors
$white: #fff;
$black: #000;

// Color pallete
$sea-blue: #05668d;
$pale-aqua: #b9d6f2;
$maastricht-blue: #061a40;
$caribbean-green: #02c39a;
$prussian-blue: #003559;

$charleston-green: #30292f;
$outer-space: #413f54;
$liberty: #5f5aa2;
$bedazzeled-blue: #355691;
$arsenic: #3f4045;
