$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';


html {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
}

body {
  background-color: $dark-blue;
  color: $sunset;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: $purpleg;
  font-family: 'Shadows Into Light', cursive;
}


.btn {
  background-color: $sea-blue;
  color: $white;
}

.btn:hover {
  background-color: $pale-aqua;
}

.modal-dialog {
  background-color: $salmon;
};

.modal-body {
  width: 30%;

}
