$body-font: 'Open Sans', sans-serif;
$header-font: 'Shadows Into Light', cursive;
$title-font: 'Shadows Into Light', cursive;
$button-font: 'Droid Sans', sans-serif;
$font-size: 14px;
$line-height: 1;
$input-font-size: 16px;
